.images{
    text-align: center;
}

.image {
    width:220px;
    height:100px;
    cursor: pointer;
    margin: 20px;
    background-color: #93b6e3;
    border-radius:20px;
    box-shadow: 0 9px #bdbdbd;
    width: 13em;

}

.image:hover {
    background-color: #7c9fcc;
    box-shadow: 0 7px #acacac;
    transform: translateY(2px);
}

.image:active {
    background-color: #5a76a0;
    box-shadow: 0 4px #9b9b9b;
    transform: translateY(5px);
}

.pizzabutton {
    cursor: pointer;
    width: 25%;
    height: 25%;
}

.pizzabutton:hover {
    transform: scale(1.05,1.05);
}

.pizzabutton:active {
    transform: scale(1.15,1.15);
}