.pictures {
    position: fixed;
    left: 100px;
    top: 100px;
}

.image {
    width:200px;
    height:200px;
    cursor: pointer;
    margin: 20px;
    background-color: white;
    border-radius:20px;
    box-shadow: 0 9px #bdbdbd;
    filter: grayscale(100%);
}

.image:hover {
    background-color: #f9f9f9;
    box-shadow: 0 7px #acacac;
    transform: translateY(2px);
}

.image:active {
    background-color: #f9f9f9;
    box-shadow: 0 4px #9b9b9b;
    transform: translateY(5px);
}

.button {
    float: left;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #3377ff;
    border-radius: 15px;
    box-shadow: 0 9px #13429e;
    margin: 10px;
    outline: none;
    text-decoration: none;
    border: none;
    text-shadow: 2px 2px #0f5382;

}

.button:hover {
    background-color: #2f68de;
    box-shadow: 0 7px #13429e;
    transform: translateY(2px);
}

.button:active {
    background-color: #2f68de;
    box-shadow: 0 5px #103682;
    transform: translateY(4px);
}

.controller {
    position: absolute;
    top:10px;
    right:10px;
}

.pizzabase {
    background-position: right bottom;
    margin: 0 auto;
    overflow: hidden;
}

.pizzatops {
    position: absolute;
    margin-left: 1050px;
    margin-top: 200px;
}